<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [10]:
# !pip install sqlalchemy
# !pip install ibm_db_sa

Requirement already satisfied: sqlalchemy in /Users/chrisvaisnor/opt/anaconda3/lib/python3.8/site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL**

In [2]:
%sql ibm_db_sa://fvv98602:hVokU1laQ3DITvw1@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=SSL

DB2/LINUXX8664

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [3]:
%sql SELECT UNIQUE(LAUNCH_SITE) FROM SPACEXTBL;

 * ibm_db_sa://fvv98602:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('CCAFS LC-40',),
 ('CCAFS SLC-40',),
 ('CCAFSSLC-40',),
 ('KSC LC-39A',),
 ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [6]:
%%sql SELECT LAUNCH_SITE FROM SPACEXTBL
    WHERE LAUNCH_SITE LIKE 'CCA%'
    limit 5;

 * ibm_db_sa://fvv98602:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [7]:
%%sql SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTBL
    WHERE CUSTOMER='NASA (CRS)';

 * ibm_db_sa://fvv98602:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [18]:
%%sql SELECT BOOSTER_VERSION, AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL
    WHERE BOOSTER_VERSION='F9 v1.1'
    GROUP BY BOOSTER_VERSION;

 * ibm_db_sa://fvv98602:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('F9 v1.1', 2928)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [21]:
%%sql SELECT MIN(DATE) FROM SPACEXTBL
    WHERE LANDING__OUTCOME='Success (ground pad)';

 * ibm_db_sa://fvv98602:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [29]:
%%sql SELECT BOOSTER_VERSION, PAYLOAD_MASS__KG_, LANDING__OUTCOME FROM SPACEXTBL
    WHERE PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;

 * ibm_db_sa://fvv98602:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('F9 v1.1', 4535, 'No attempt'),
 ('F9 v1.1 B1011', 4428, 'No attempt'),
 ('F9 v1.1 B1014', 4159, 'No attempt'),
 ('F9 v1.1 B1016', 4707, 'No attempt'),
 ('F9 FT B1020', 5271, 'Failure (drone ship)'),
 ('F9 FT B1022', 4696, 'Success (drone ship)'),
 ('F9 FT B1026', 4600, 'Success (drone ship)'),
 ('F9 FT B1030', 5600, 'No attempt'),
 ('F9 FT  B1021.2', 5300, 'Success (drone ship)'),
 ('F9 FT B1032.1', 5300, 'Success (ground pad)'),
 ('F9 B4 B1040.1', 4990, 'Success (ground pad)'),
 ('F9 FT  B1031.2', 5200, 'Success (drone ship)'),
 ('F9 B4 B1043.1', 5000, 'Success (ground pad)'),
 ('F9 FT  B1032.2', 4230, 'Controlled (ocean)'),
 ('F9 B4  B1040.2', 5384, 'No attempt'),
 ('F9 B5 B1046.2', 5800, 'Success'),
 ('F9 B5 B1047.2', 5300, 'Success'),
 ('F9 B5 B1046.3', 4000, 'Success'),
 ('F9 B5B1054', 4400, 'No attempt'),
 ('F9 B5 B1048.3', 4850, 'Success'),
 ('F9 B5 B1051.2', 4200, 'Success'),
 ('F9 B5B1060.1', 4311, 'Success'),
 ('F9 B5 B1058.2', 5500, 'Success'),
 ('F9 B5B1062.1', 4311, 'Success')]

### Task 7

##### List the total number of successful and failure mission outcomes

In [32]:
%%sql SELECT MISSION_OUTCOME, COUNT(MISSION_OUTCOME) FROM SPACEXTBL
    GROUP BY MISSION_OUTCOME;

 * ibm_db_sa://fvv98602:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [37]:
%%sql SELECT PAYLOAD_MASS__KG_, BOOSTER_VERSION FROM SPACEXTBL
    WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);

 * ibm_db_sa://fvv98602:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(15600, 'F9 B5 B1048.4'),
 (15600, 'F9 B5 B1049.4'),
 (15600, 'F9 B5 B1051.3'),
 (15600, 'F9 B5 B1056.4'),
 (15600, 'F9 B5 B1048.5'),
 (15600, 'F9 B5 B1051.4'),
 (15600, 'F9 B5 B1049.5'),
 (15600, 'F9 B5 B1060.2'),
 (15600, 'F9 B5 B1058.3'),
 (15600, 'F9 B5 B1051.6'),
 (15600, 'F9 B5 B1060.3'),
 (15600, 'F9 B5 B1049.7')]

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015

In [47]:
%%sql SELECT  DATE, LANDING__OUTCOME, BOOSTER_VERSION, LAUNCH_SITE FROM SPACEXTBL
    WHERE LANDING__OUTCOME = 'Failure (drone ship)';

 * ibm_db_sa://fvv98602:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(datetime.date(2015, 1, 10), 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 (datetime.date(2015, 4, 14), 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 (datetime.date(2016, 1, 17), 'Failure (drone ship)', 'F9 v1.1 B1017', 'VAFB SLC-4E'),
 (datetime.date(2016, 3, 4), 'Failure (drone ship)', 'F9 FT B1020', 'CCAFS LC-40'),
 (datetime.date(2016, 6, 15), 'Failure (drone ship)', 'F9 FT B1024', 'CCAFS LC-40')]

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 2010-06-04 and 2017-03-20 in descending order.

In [67]:
%%sql SELECT LANDING__OUTCOME, DATE FROM SPACEXTBL
    WHERE LANDING__OUTCOME LIKE 'Success%';

 * ibm_db_sa://fvv98602:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Success (ground pad)', datetime.date(2015, 12, 22)),
 ('Success (drone ship)', datetime.date(2016, 4, 8)),
 ('Success (drone ship)', datetime.date(2016, 5, 6)),
 ('Success (drone ship)', datetime.date(2016, 5, 27)),
 ('Success (ground pad)', datetime.date(2016, 7, 18)),
 ('Success (drone ship)', datetime.date(2016, 8, 14)),
 ('Success (drone ship)', datetime.date(2017, 1, 14)),
 ('Success (ground pad)', datetime.date(2017, 2, 19)),
 ('Success (drone ship)', datetime.date(2017, 3, 30)),
 ('Success (ground pad)', datetime.date(2017, 5, 1)),
 ('Success (ground pad)', datetime.date(2017, 6, 3)),
 ('Success (drone ship)', datetime.date(2017, 6, 23)),
 ('Success (drone ship)', datetime.date(2017, 6, 25)),
 ('Success (ground pad)', datetime.date(2017, 8, 14)),
 ('Success (drone ship)', datetime.date(2017, 8, 24)),
 ('Success (ground pad)', datetime.date(2017, 9, 7)),
 ('Success (drone ship)', datetime.date(2017, 10, 9)),
 ('Success (drone ship)', datetime.date(2017, 10, 11)),
 ('Success (drone ship)', datetime.date(2017, 10, 30)),
 ('Success (ground pad)', datetime.date(2017, 12, 15)),
 ('Success (ground pad)', datetime.date(2018, 1, 8)),
 ('Success (drone ship)', datetime.date(2018, 4, 18)),
 ('Success (drone ship)', datetime.date(2018, 5, 11)),
 ('Success', datetime.date(2018, 7, 22)),
 ('Success', datetime.date(2018, 7, 25)),
 ('Success', datetime.date(2018, 8, 7)),
 ('Success', datetime.date(2018, 9, 10)),
 ('Success', datetime.date(2018, 10, 8)),
 ('Success', datetime.date(2018, 11, 15)),
 ('Success', datetime.date(2018, 12, 3)),
 ('Success', datetime.date(2019, 1, 11)),
 ('Success', datetime.date(2019, 2, 22)),
 ('Success', datetime.date(2019, 3, 2)),
 ('Success', datetime.date(2019, 5, 4)),
 ('Success', datetime.date(2019, 5, 24)),
 ('Success', datetime.date(2019, 6, 12)),
 ('Success', datetime.date(2019, 7, 25)),
 ('Success', datetime.date(2019, 11, 11)),
 ('Success', datetime.date(2019, 12, 5)),
 ('Success', datetime.date(2019, 12, 17)),
 ('Success', datetime.date(2020, 1, 7)),
 ('Success', datetime.date(2020, 1, 29)),
 ('Success', datetime.date(2020, 3, 7)),
 ('Success', datetime.date(2020, 4, 22)),
 ('Success', datetime.date(2020, 5, 30)),
 ('Success', datetime.date(2020, 6, 4)),
 ('Success', datetime.date(2020, 6, 13)),
 ('Success', datetime.date(2020, 6, 30)),
 ('Success', datetime.date(2020, 7, 20)),
 ('Success', datetime.date(2020, 8, 7)),
 ('Success', datetime.date(2020, 8, 18)),
 ('Success', datetime.date(2020, 8, 30)),
 ('Success', datetime.date(2020, 9, 3)),
 ('Success', datetime.date(2020, 10, 6)),
 ('Success', datetime.date(2020, 10, 18)),
 ('Success', datetime.date(2020, 10, 24)),
 ('Success', datetime.date(2020, 11, 5)),
 ('Success', datetime.date(2020, 11, 16)),
 ('Success', datetime.date(2020, 11, 21)),
 ('Success', datetime.date(2020, 11, 25)),
 ('Success', datetime.date(2020, 12, 6))]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>